@ -1,902 +0,0 @@
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html {
  min-height: 100%;
}

body{
  padding: 0;
  font-family: sans-serif;
  background: url(../media/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
  overflow-x: hidden;
  margin: 0;
}

/* nav bar */
.container{
  width: 85%;
  margin: 0 auto;
  z-index: 100;
  overflow-x: hidden;
}
.header{
  overflow-x: hidden;
  z-index: 10000;
  width: 105%;
  height: 80px;
  background-color: #000;
  top: 0px;
  position: fixed;
  overflow-y: hidden;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.logo {
  animation: logo-entry 4s ease-in;
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  height: 100%;
}

.swedbergindustries {
  animation: text-glow 2s ease-out infinite alternate;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.75em;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  position: relative;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
}

.swedbergindustries::before {
  animation: before-glow 2s ease-out infinite alternate;
  border-left: 425px solid transparent;
  border-bottom: 10px solid #fff;
  content: ' ';
  height: 0;
  position: absolute;
  right: -2px;
  top: -15px;
  width: 0;
}

.swedbergindustries::after {
  animation: after-glow 2s ease-out infinite alternate;
  border-left: 85px solid transparent;
  border-top: 15px solid #fff;
  content: ' ';
  height: 0;
  position: absolute;
  right: -10px;
  top: 14px;
  transform:rotate(-47deg);
  width: 0;
}

a{
text-decoration: none;
color: #fff;
}

li{
list-style: none;
float: left;
margin-left: 15px;
padding-top: 13px;
}

p{
  font-size: 13px;
}

.nav{
float: right;
font-family: 'Raleway', sans-serif;
text-shadow: 0px 0px 3px #fff;
}

.cent{
  position: relative;
  top: -100%;
  left: 0px;
  height: 100vh;
  width: 100%;
  margin: -25px auto;
  z-index: -10000;
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.infoboxtext{
  color: black;
  font-size: 3.5em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: 0px auto;
  position: relative;
  top: 5%;
}

.infobox {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-size: contain;
    background-position: center;
    background-color: #f1f1f1;
    border-radius: 1%;
    height: 8%;
    position: absolute;
    width: 50%;
    top: 14%;
    margin: auto;
    left: 0;
    right: 0;
}

* {box-sizing: border-box}

.projectlist{
  position: absolute;
  left: -50%;
  width: 200%;
  top: 130%;
  height: 100%;
}

/* Style the tab */
.tab {
  float: left;
  background-color: #f1f1f1;
  width: 20%;
  height: 77vh;
  border: 1px solid #cccccc;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  height: 75px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #888;
  opacity: 0.8;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #000;
  color: white;
  opacity: 0.8;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #cccccc;
  width: 77vw;
  height: 77vh;
  background-color: white;
  overflow-y: scroll;
}

.h501st{
  background-image: url(media/helmet2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 50px black;
}

.kenobi{
  background-image: url(media/kenobi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 50px black;
}

.tiefighter{
  background-image: url(media/tiefighter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 50px black;
}

.flashemblem{
  background-image: url(media/flash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 50px black;
}

.bd1{
  background-image: url(media/bd1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 50px black;
}

.toygun{
  background-image: url(media/toygun.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 50px black;
}

.jarvis{
  background-image: url(media/jarvis.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 50px black;
}

.repulsor{
  background-image: url(media/repulsor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 50px black;
}

.progressbackground {
  width: 100%;
  background-color: #ddd;
}

.progress{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
}

.progress-bd1{
  width: 50%;
  background-color: #808080;
}

.progress-flash{
  width: 80%;
  background-color: #808080;
}

.progress-toygun{
  width: 30%;
  background-color: #808080;
}

.progress-jarvis{
  width: 35%;
  background-color: #808080;
}

.progress-repulsor{
  width: 5%;
  background-color: #808080;
}

.footer{
  position: absolute;
  height: 100px;
  width: 100%;
  margin: auto;
  background-color: black;
  z-index: -5000;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  bottom: -6vw;
}

.devtext{
  text-align: left;
  margin-left: 10%;
  margin-right: auto;
  position: relative;
  color: white;
  top: 35%;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 3px #fff;
  width: 202px;
}

.footertext{
  text-align: right;
  margin-left: auto;
  margin-right: 10%;
  position: relative;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 3px #fff;
  width: 185px;
  top: 5%;
  bottom: 0;
}

/*
make keyframes that tell the start state and the end state of our object
*/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
