/* main page format */
body{
  padding: 0;
  font-family: sans-serif;
  background: url(media/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
  overflow-x: hidden;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

/* first screen */

.main{
  position: absolute;
  width: 90px;
  height: 25px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.scrolldowntext{
  position: absolute;
  width: 145px;
  height: 15px;
  animation-name: scrollDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  bottom: 25px;
  right: 25%;
  left: 50%;
  margin-left: -65px;
}

.undertext{
  position: absolute;
  bottom: 20%;
  font-size: 0.75em;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto:300', sans-serif;
  line-height: 130%;
  white-space: nowrap;
}

.fa-angle-double-down{
  height: 25px;
  width: 25px;
  color: #fff;
  position: absolute;
  left: 45%;
  top: 100%;
  animation-name: arrowDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.maintext{
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
}

/* nav bar */

#navbar {
    background-color: #000;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
    left: 0%;
}

#navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    text-shadow: 0px 0px 8px #FFF;
}

.navbar a.active{
  background-color: #47BFB9;
  color: white;
}

.nav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(-50%, -50%);
  background-color: #292929;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.nav-right{
  float: right;
}

/* second screen */

.firstsection{
  background-color: #000;
  position: absolute;
  top: 105%;
  width: 100%;
  height: 5%;
  left: 0%;
}

.secondsection{
  background-color: #fff;
  position: absolute;
  top: 110%;
  width: 100%;
  height: 105%;
  left: 0%;
}

.karson{
    background-image: url(media/reasons.png);
    background-repeat: no-repeat;
    width: 492px;
    height: 162px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 10%;
}

/* ALL KEYFRAMES */

@keyframes scrollDown{
  0%  {opacity: .9;}
  50%  {opacity: .6;}
  100%  {opacity: .9;}
}

@keyframes arrowDown{
  0%  {top: 13px}
  50%  {top: 17px}
  100%  {top: 13px}
}

/* scrapped code

.line-separatortop{
  height: 1px;
  background: #9e9898;
  border-bottom: 1px solid #313030;
  position: relative;
  top: 23px;
  margin: 0 auto;
  width: 80%;
}
*/
