.header {
  background-color: transparent !important;
  position: absolute !important;
}

.logo {
  opacity: 1 !important;
} 

.nav {
  opacity: 1 !important;
}

.fullscreen-bg {
    position: absolute;
    z-index: -10000;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    max-height: 110vh;
}

.welcome_container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 5%;
  height: 110vh;
  background-color: black;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  opacity: 0.8;
}

.welcome_content{
  letter-spacing: 10px;
}

.welcome_textheader{
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: auto;
  margin-top: 20vh;
}

@media screen and (min-width: 901px) {
  .welcome_textheader {
    font-size: 10rem !important;
  }
}

@media screen and (max-width: 900px) {
  .welcome_textheader {
    font-size: 10vw !important;
  }
}

.welcome_textbody{
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: 0px auto;
  margin-top: 10vh;
}

@media screen and (min-width: 601px) {
  .welcome_textbody {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 600px) {
  .welcome_textbody {
    font-size: 4vw !important;
  }
}

/*SCROLL icon*/
.icon-scroll {
	top: 90vh;
	width: 16px;
	height: 50px;
	z-index: 99999;
	margin: 0 auto;
	left: 50%;
}

.icon-scroll span {
	display: block;
	width: 5px;
	height: 5px;
	border-right: 1px solid rgba(255,255,255,.8);
	border-bottom: 1px solid rgba(255,255,255,.8);
	margin: 0 0 2px 5px;

	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
    -webkit-animation-direction: alternate;
	animation-direction: alternate;
}

.icon-scroll .z1 {
	margin-top: 6px;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	animation-delay: .1s;
}

.icon-scroll .z2 {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	animation-delay: .2s;
}

.icon-scroll .z3 {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	animation-delay: .3s;
}

.moreinfo{
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: 0px auto;
  margin-top: 20vh;
}

@media screen and (min-width: 601px) {
  .moreinfo {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 600px) {
  .moreinfo {
    font-size: 4vw !important;
  }
}