/* page format */
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;

} /* nav bar */
.container{
  width: 960px;
  margin: 0 auto;
  z-index: 100
  overflow-y: hidden;
}
.header{
  z-index: 10000;
  width: 105%;
  height: 80px;
  background-color: #000;
  top: 70px;
  position: fixed;
  opacity: .8;
  overflow-y: hidden;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.container1{
  width: 960px;
  margin: 0 auto;
  z-index: 100
  overflow-y: hidden;
}
.header1{
  z-index: 10000;
  width: 105%;
  height: 80px;
  background-color: #fff;
  top: 0px;
  position: fixed;
  opacity: .8;
  overflow-y: hidden;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.logo{
position: relative;
float: left;
text-shadow: 0px 0px 3px #fff;
font-size: 15px;
z-index: 7500;
}

.logopic{
  float: left;
  position: relative;
  top: 14px;
  left: -18px;
  height: 35px;
  width: 35px;
  transform: rotate(23deg);
  z-index: 5000;
}

a{
text-decoration: none;
color: #fff;
}

li{
list-style: none;
float: left;
margin-left: 15px;
padding-top: 13px;
}

.nav{
float: right;
font-family: 'Raleway', sans-serif;
text-shadow: 0px 0px 3px #fff;
}

.cent1{
  position: relative;
  top: 1060px;
  left: 0px;
  height: 530px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  z-index: -10000;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.centtext1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
}

.footer{
  position: relative;
  top: 960px;
  left: 0px;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  z-index: -5000;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 3px #fff;
}

.devtext{
  text-align: left;
  margin-left: 10%;
  margin-right: auto;
  position: relative;
  color: white;
  top: 50%;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 3px #fff;
  width: 202px;
}

.footertext{
  text-align: right;
  margin-left: auto;
  margin-right: 10%;
  position: relative;
  top: 100px;
  color: white;
  top: 50%;
}
/* !!!EXTRA STUFF!!!
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
