@ -1,902 +0,0 @@
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";

html {
  min-height: 100%;
}

body{
  padding: 0;
  font-family: sans-serif;
  background: url(../media/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
  overflow-x: hidden;
  margin: 0;
}
/* nav bar */
.container{
  width: 85%;
  margin: 0 auto;
  z-index: 100;
  overflow-x: hidden;
}
.header{
  overflow-x: hidden;
  z-index: 10000;
  width: 105%;
  height: 80px;
  background-color: #000;
  top: 0px;
  position: fixed;
  overflow-y: hidden;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.logo {
  animation: logo-entry 4s ease-in;
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  height: 100%;
}

.swedbergindustries {
  animation: text-glow 2s ease-out infinite alternate;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.75em;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  position: relative;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
}

.swedbergindustries::before {
  animation: before-glow 2s ease-out infinite alternate;
  border-left: 425px solid transparent;
  border-bottom: 10px solid #fff;
  content: ' ';
  height: 0;
  position: absolute;
  right: -2px;
  top: -15px;
  width: 0;
}

.swedbergindustries::after {
  animation: after-glow 2s ease-out infinite alternate;
  border-left: 85px solid transparent;
  border-top: 15px solid #fff;
  content: ' ';
  height: 0;
  position: absolute;
  right: -10px;
  top: 14px;
  transform:rotate(-47deg);
  width: 0;
}

a{
text-decoration: none;
color: #fff;
}

li{list-style: none;float: left;margin-left: 15px;padding-top: 13px;}

.nav{
float: right;
font-family: 'Raleway', sans-serif;
text-shadow: 0px 0px 3px #fff;
}

.cent{
  position: relative;
  top: -100%;
  left: 0px;
  height: 100vh;
  width: 100%;
  margin: -25px auto;
  z-index: -10000;
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.infoboxtext{
  color: black;
  font-size: 3.5em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: 0px auto;
  position: relative;
  top: 5%;
}

.infobox {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-size: contain;
    background-position: center;
    background-color: #f1f1f1;
    border-radius: 1%;
    height: 8%;
    position: absolute;
    width: 50%;
    top: 14%;
    margin: auto;
    left: 0;
    right: 0;
}

.infobodytext{
  color: black;
  font-size: 1.5vh;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: 0px auto;
  position: relative;
  top: 4%;
  width: 75%;
  line-height: 1.5;
}

.infoboxtextheader{
  color: black;
  font-size: 36px;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: 0px auto;
  position: relative;
  top: 2%;
  border-bottom: 0.5px solid currentColor;
  width: 25%;
}

.infobody{
    box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.16);
    background-size: contain;
    background-position: center;
    height: 67vh;
    position: absolute;
    width: 100%;
    left: 0%;
    top: 25%;
    background-color: #fff;
}

.contact{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

ul#horizontal{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  right: 20px;
  }
  ul#horizontal li{
    display: inline;
    float: none !important;
    margin-left: 10px !important;
    margin-top: 30px !important;
  }
  ul#horizontal li::before{
    content: "\2022" !important;
    color: black !important;
    font-weight: bold !important;
    display: inline-block !important;
    width: 1em !important;
    margin-left: -1em !important;
}

.discord{
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.discord .discordtooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.discord .discordtooltip::after {
  content: "";
  position: absolute;
  top: -32%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.discord:hover .discordtooltip {
  visibility: visible;
  opacity: 1;
}

.footer{
  position: absolute;
  height: 100px;
  width: 100%;
  margin: auto;
  background-color: black;
  z-index: 1;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  bottom: 0%;
}

.devtext{
  text-align: left;
  margin-left: 10%;
  margin-right: auto;
  position: relative;
  color: white;
  top: 35%;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 3px #fff;
  width: 202px;
}

.footertext{
  text-align: right;
  margin-left: auto;
  margin-right: 10%;
  position: relative;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 3px #fff;
  width: 185px;
  top: 5%;
  bottom: 0;
}
/*
make keyframes that tell the start state and the end state of our object
*/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
