/* main page format */
body{
  padding: 0;
  font-family: sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
  overflow-x: hidden;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.aboutme{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.1em 0.3em;
  width: 30%;
  font-family: "Inconsolata", sans-serif;
  font-size: 6em;
  position: absolute;
  top: 16%;
  left: 33%;
}

.aboutimage{
    background-repeat: no-repeat;
    width: 1920px;
    height: 600px;
    position: absolute;
    top: 0%;
    left: 0%;
}

#sstdemo{
}

.sst1{

  position: absolute;
  top: 60%;
  font-family: 'Raleway', sans-serif;
  left: 42%;
  font-size: 1.5em;
}

.sst12{

}

/* links */

.linklist{

  position: absolute;
  top: 70%;
  left: 39%;
  margin-top: -50px;
  margin-left: -50px;
  width: 529px;
  height: 60px;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: bold;
  color: #333;
}

.bodycontainer{

  width: 42%;
  height: 500px;
  position: absolute;
  top: 72%;
  font-family: "Inconsolata", sans-serif;
  left: 30%;
}

.bodyp1{

}

.bodyp2{

}

/* ALL KEYFRAMES */
