@ -1,902 +0,0 @@
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/* page format */

html, body, *{
  font-family: 'Raleway' sans-serif;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100% !important;
}

p {
  margin: auto !important;
}

@media screen and (min-width: 601px) {
  p {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 5vw !important;
  }
}

h1 {
  margin: auto !important;
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 10vw !important;
  }
}

@media screen and (min-width: 601px) {
  .container {
    width: 85%;
    margin: 25px auto;
    z-index: 100;
    overflow: hidden;
    opacity: 0.9;
    height: 65%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 85%;
    margin: 15px auto;
    z-index: 100;
    overflow: hidden;
    opacity: 0.9;
    height: 65%;
  }
}

.header{
  overflow-x: hidden;
  z-index: 10000;
  width: 100%;
  height: 100px;
  top: 0px;
  position: relative;
  overflow-y: hidden;
  background-color: #000;
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

@media screen and (min-width: 601px) {
  .logo {
    margin: 7.5px auto;
    position: absolute;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    margin: 17px auto;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
}

.swedberg {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  position: relative;
}

@media screen and (min-width: 601px) {
  .swedberg {
    font-size: 1.75em !important;
  }
}

@media screen and (max-width: 600px) {
  .swedberg {
    font-size: 1.5em !important;
    margin-top: 0px !important;
  }
}

a{
text-decoration: none;
color: #fff;
}

@media screen and (max-width: 600px) {
  a {
    font-size: 1em !important;
    margin-top: 10px !important;
  }
}

li.navlist{
list-style: none;
float: left;
margin-left: 15px;
/*! padding-top: 13px; */
}

ul.facts{
  list-style: disc;
  text-align: left;
}

@media screen and (min-width: 601px) {
  .nav {
    float: right;
    font-family: 'Raleway', sans-serif;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    font-family: 'Raleway', sans-serif;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
}

.navunderline{
  border-bottom: 1px solid currentColor;
}

.content {
  min-height: 100%;
}

.container_l{
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 5%;
}

.container_r {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 5%;
}

.container_c{
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 5%;
}

.textcontainer_l{
  margin: 0px auto;
  position: relative;
  width: 60vmin;
  margin-top: auto;
  margin-bottom: auto;
}

.textcontainer_r{
  margin: 0px auto;
  position: relative;
  width: 60vmin;
  margin-top: auto;
  margin-bottom: auto;
}

.textcontainer_c{
  margin: 0px auto;
  position: relative;
  width: 100vmin;
  margin-bottom: auto;
}

.textheader_l{
  color: black;
  font-size: 3rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  border-bottom: 0.5px solid currentColor;
  margin: auto;
}

.textheader_r{
  color: black;
  font-size: 3rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  border-bottom: 0.5px solid currentColor;
  margin: auto;
}

.textheader_c{
  color: black;
  font-size: 3rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  border-bottom: 0.5px solid currentColor;
  margin: auto;
}

.textbody_l{
  color: black;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: 0px auto;
  position: relative;
  width: 60vmin;
  text-align: left;
  margin-top: 2.5%;
}

.textbody_r{
  color: black;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: 0px auto;
  position: relative;
  text-align: left;
  margin-top: 2.5%;
}

.textbody_c{
  color: black;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 1px #fff;
  margin: 0px auto;
  position: relative;
  text-align: center;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  overflow-wrap: break-word;
}

.imagecontainer_l{
  margin: 0px auto;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.imagecontainer_r{
  margin: 0px auto;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.imagecontainer_c{
  margin: 0px auto;
  position: relative;
  width: 60vmin;
  margin-top: auto;
  margin-bottom: auto;
}

.image {
  color: black;
  margin: 0px auto;
  position: relative;
  width: 60vmin;
  height: 30vmin;
  margin-top: 2.5%;
}

.button_container{
  display: flex;
  margin-top: 5%;
}

.content_button{
  background-color: rgb(250, 90, 90);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  position: relative;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  margin-top: 15%;
}

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 0px !important;
  }
}
.devtext{
  position: relative;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 3px #fff;
  margin-top: 2.5rem;
}

@media screen and (min-width: 601px) {
  .devtext {
    margin-left: 15vw;
  }
}

@media screen and (max-width: 600px) {
  .devtext {
    margin-left: 0%;
    margin-top: 5%;
    padding-top: 2%;
  }
}

.footertext{
  position: relative;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 3px #fff;
  margin-left: auto;
  align-content: baseline;
  margin-top: 2.5rem;
}

@media screen and (min-width: 601px) {
  .footertext {
    margin-right: 15vw;
  }
}

@media screen and (max-width: 600px) {
  .footertext {
    margin-right: 0%;
    margin-left: 0%;
    padding: 15%;
    padding-top: 0%;
    padding-bottom: 0;
  }
}